/* .App {
  text-align: center;
} */

/* * {
  border: 1px solid black;
} */

/* .poems_list {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
   border: 3px solid pink; 
  flex-wrap: wrap;
} */

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  /* justify-content: space-around;
  align-items: center; */
}

.title {
  text-align: center;
  width: 100%;
}

h4 {
  display: inline;
  text-align: center;
}